body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf2f8;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  height: 270px;
  background-color: #f9f9f9;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 15px -10px #9eafc2;
          box-shadow: 5px 10px 15px -10px #9eafc2;
  margin-bottom: 10px;
}

.container .container-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background-image: url("https://www.woodworkingnetwork.com/sites/woodworking/files/field/image/expresskitchens.jpg");
  background-position: 10% 50%;
  background-size: 350px 300px;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
}

.container .container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.container .container-text h1 {
  color: #48556a;
  font-size: 20px;
}

.container .container-text p {
  margin: 15px 0;
  color: #6d7f97;
  font-size: 13px;
}

.container .container-text .container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .container-text .container-bottom .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .container-text .container-bottom .author img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.container .container-text .container-bottom .author .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px 0 10px;
}

.container .container-text .container-bottom .author .info .name {
  font-size: 13px;
  font-weight: bold;
  color: #48556a;
  margin: 0;
}

.container .container-text .container-bottom .author .info .date {
  font-size: 11px;
  font-weight: bold;
  color: #9eafc2;
  margin: 2px;
}

.container .container-text .container-bottom .share .socialIcons {
  border-radius: 4px;
  padding: 7px 14px;
  background-color: #48556a;
}

.container .container-text .container-bottom .share .socialIcons span {
  color: #9eafc2;
}

.container .container-text .container-bottom .share .socialIcons i {
  color: #f9f9f9;
  margin-left: 7px;
}

.container .container-text .container-bottom .share .shareIcon {
  outline: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.container .container-text .container-bottom .share .shareIcon:active {
  background-color: #48556a;
}
/*# sourceMappingURL=styles.css.map */