.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/**************
    colors
**************/
$darkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

// Background gradient:

$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);



$darkGreyBlue: hsl(237, 12%, 33%);
$mediumGreyBlue: hsl(240, 6%, 50%);

// Dividers

$lightGreyBlue: hsl(240, 5%, 91%);

/**************
  Typography
**************/

// font-family: 'Kumbh Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// body - font-size: 12px;

/**************
    Body
**************/
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: linear-gradient($softViolet,$softBlue);
    background-repeat: no-repeat;
    height:100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 81.25%;
}
.container{
    height: 30rem;
    width: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lightGreyBlue;
    box-shadow: 0rem 1rem 2rem #444;

    .container-image{
        display: block;
    }
    .container-accordian{
        .faq{
            font-size: 20px;
            font-weight: 700;
        }
        .question{
            color:$mediumGreyBlue;
            .questionTitle{
    
            }
            .questionAnswer{
    
            }
        }
    }
    
}

